/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  color: #222;
  font-weight: 600;
  letter-spacing: -1px;
}
.h2 {
  font-size: 2rem;
  color: #aaa;
  font-weight: 300;
}
.h3 {
  font-size: 2rem;
  color: #333;
}
.nav-styles {
  color: #5694f1;
  font-size: 1.8rem;
  font-weight: 300;
}
.w-description {
  font-size: 1.8rem;
  color: #666;
  line-height: 3rem;
  font-weight: 300;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
img {
  height: 80px;
  width: 80px;
}
.container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.highlight {
  color: #5694f1;
}
.rating {
  color: goldenrod;
}
.container nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px 0;
}
.container nav a {
  text-decoration: none;
  color: #5694f1;
  font-size: 1.8rem;
  font-weight: 300;
}
.container nav a:hover {
  color: #0d48a1;
}
.container header {
  text-align: center;
  margin: 100px 0;
  border-bottom: 1px solid lightgrey;
}
.container header h1 {
  margin: 30px 0 15px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  color: #222;
  font-weight: 600;
  letter-spacing: -1px;
}
.container header h2 {
  padding-bottom: 40px;
  font-size: 2rem;
  color: #aaa;
  font-weight: 300;
  line-height: 3rem;
}
.container header img {
  border-radius: 50%;
}
.container .history-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
@media (max-width: 500px) {
  .container .history-item {
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
  }
}
.container .history-item .company-logo {
  margin-right: 30px;
}
@media (max-width: 500px) {
  .container .history-item .company-logo {
    margin: 0 auto 40px auto;
  }
}
.container .history-item .company-name {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}
.container .history-item .position {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 10px;
  color: #5694f1;
  letter-spacing: 0.1rem;
}
.container .history-item .work-description {
  font-size: 1.8rem;
  color: #666;
  line-height: 3rem;
  font-weight: 300;
}
.container .skills {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  margin-bottom: 50px;
}
.container .skills .skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.8rem;
  color: #666;
  line-height: 3rem;
  font-weight: 300;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}
.container .skills .skill:last-child {
  border: none;
}
.container footer {
  padding: 50px 0;
  font-size: 1.6rem;
  color: lightgrey;
  font-weight: 300;
}
